<div id="ideaContent">
  <h1> The Idea </h1>

<p> The initial idea was spurred by the Blackworkers Instagram page. In the tattoo world, blackwork
    traditionally refers to pieces that use purely black ink without the commonly utilized grey scale
    shading. It has a strong historical connection as blackwork-style tattoos permeated cultures
    around the world long before tattoos infiltrated popular culture, and I’ve noticed that
    contemporary artists are shifting their focus from rendering on paper to rendering on skin. I’m
    sure the reasoning and inspiration is completely individualistic, but statistically it’s far more
    manageable to build a client base and monetize their creative work at a more regular pace
    (imagine how a tattoo artist can work through the drafts, iterations, and rendering of
    pieces much faster than a graphic artist could sell canvas pieces to art exhibits).
    <br>
    <br>
    There is not much info about the page itself, and it’s curated by a skilled artist
    (Casper Mugridge) out of Showdown Tattoo in Edmonton, Alberta Canada. I’ve watched the online
    following of several artists explode after they were featured on the Blackworkers page, and I
    also want to break down the remaining stereotypes that exist behind tattoos, the artists, the
    clients, and the shop environment themselves. Referencing a shop as a “tattoo parlor” is a term
    that makes me cringe, as it highlights a lack of awareness with the reality of the situation,
    in that most professional shops are regulated by many state and Federal regulations, and it
    requires a great deal of organization and focus to keep the process safe, sterile, and welcoming.
    <br>
    <br>
    Tattoos are shifting from a label associated with a social class to a means of expression,
    identification, rebellion, and human connection. The relationship between client and artist is
    incredibly unique in that a small series of encounters turns into a journal entry of sorts,
    providing a small window of insight into the artists’ inspirations and life experiences.
    Of course, some artists just want you to shut up and take the pain. But the complexity and depth
    of a proper tattoo experience, especially in the hands of a talented artist, it something that
    cannot be underestimated. The passing of time always holds joys and sorrows and there is something
    deeply cathartic about intentionally enduring pain for a testament that will last a lifetime.
</div>
