
    <center><h1>Instagram Lookup</h1></center>
      <% @posts.each do |post| %>
      <div class="col-sm-12 col-md-4">
        <div>
          <%= image_tag post.image, height: 400, width: 400 unless post.image.blank?  %>
          <center><div id="tatbtns">
            <a href=<%= post.link %> class="btn btn-info">Learn More  </a>
            <a href="#" class="btn btn-success">Favorite  </a>
          </div>

          <br> <br>

          </div>
        </div>
    <% end %>
