<div>
  <% if @user.id == current_user.id %>

  <%= @user.full_name%>g
  <br>
  <br>
  Joined <%= @user.created_at.localtime.to_formatted_s(:long_ordinal) %>
  <% if @user == current_user %>
    <%= button_to "Edit Profile", edit_user_path, method: "get" %>
  <% end %><abbr title=""></abbr>
  <% end %>

  <br>
  <h2>Favorite Artists:</h2>


</div>
